.filter {
  font-size: 1em;
  width: calc(100% / 3);
}

.filterRadio {
  position: absolute;
}

.filterRadio:checked + .filterLabel {
  border-bottom: 2px solid #ccc;
  font-weight: 700;
}

.filterLabel{
  width: 100%;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  display: block;
  position: relative;
}

.searchInput {
  display: block;
  width: 100%;
  padding: 1em 0.5em;
  box-sizing:border-box;
}
.filtersHeading {
  text-align: center;
}

.filtersWrapper {
  display: flex;
  text-align: center;
  border-bottom: 1px #ccc;
}