.contactsList {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact,
.noResults {
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.28);
  padding: 1em;
  margin-bottom: 1em;
  list-style-type: none;
  text-align: left;
  font-size: 13px;
}

.contact {
  width: 47%;
}

.noResults {
  width: 100%;
  color: #708C91;
}

.contactName {
  display: block;
  color: #044751;
}

.contactNumber {
  display: block;
  color: #708C91;
}
